body {
    background-color: RGBA(246, 255, 245);
    min-height: 200vh;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.navbar-brand {
    display: flex;
}

.navbar_text {
    font-family: 'Stylish', sans-serif;
    font-size: 0.8rem;
    margin-left: 6px;
    margin-top: 14px;
    color: #3f464d;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_icon {
    display: flex;
    flex-direction: row;
}

.profile_icon {
    margin-top: 18px;
    margin-right: 25px;
    color: rgba(114, 168, 110, 0.8);
    transform: scale(1.4);
}

.profile_icon:hover {
    color: #3f464d;
}

.logout_icon {
    margin-top: 18px;
    margin-right: 25px;
    color: rgba(114, 168, 110, 0.8);
    transform: scale(1.4);
}

.logout_icon:hover {
    color: #3f464d;
}

.login_icon {
    margin-top: 18px;
    margin-right: 25px;
    color: rgba(114, 168, 110, 0.8);
    transform: scale(1.4);
}

.login_icon:hover {
    color: #3f464d;
}