/*새로 만드는 new_comment.html css 파일*/

.comment_wrap {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.button-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.comment_hr {
    height: 2px;
    background: black;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

.comment_hr_second {
    height: 2px;
    background: black;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.comment_head {
    width: 50%;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}