<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="../static/js/comments.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://kit.fontawesome.com/f6788aacd4.js" crossorigin="anonymous"></script>
    <title>댓글 남기기</title>

    <link rel="stylesheet" href="../static/comments.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>

<body>
<a href="/home"><button onclick="back()"  class="fas fa-solid fa-arrow-left back_icon"></button></a>
<div class="wrap">
    <div class="top_contents">
        <div class="image">
            <img src="https://imgnews.pstatic.net/image/109/2022/04/21/0004597125_003_20220421102106118.jpg?type=w647" />
        </div>
        <div class="top_main">
            <h1>추신수가 왜 아웃? 비·판에 심판 설명 필요하다</h1>
            <hr style="height: 2px !important; display: block !important; width: 100% !important;"/>
            <div class="top_sub">
                <div>해당 기사에 대한 의견을 아래 댓글로 남겨주세요 😊</div>
                <div class="like_container">
                    <button onclick="like()" class="fas fa-thumbs-up like_icon"></button>
                    <div id="like_result" class="like_result">0</div>
                </div>
            </div>
            <br>
        </div>
        <div class="comment_submit_container">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">닉네임</span>
              </div>
              <input id='comment_name' type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend ">
                <span class="input-group-text" id="inputGroup-sizing-default">내용</span>
              </div>
              <textarea id='comment_content' rows="3" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"></textarea>
            </div>
            <button onclick="comments()" type="submit" class="btn btn-dark comment_button">댓글달기</button>
        </div>
    </div>

    <div class="comments_table_container">
        <table id="comments" class="table table-bordered table-striped comments_table" >
          <thead>
            <tr>
              <th style="width: 100px;">닉네임</th>
              <th style="width: 550px;">내용</th>
              <th>등록시간</th>
            </tr>
          </thead>
        </table>
    </div>
</div>
</body>

</html>