<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>할머니의 따뜻한 사랑</title>
    <!-- link 모음 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../static/detail.css">

    <!-- script 모음 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/detail.js"></script>
    <script> let post_id = {{ id }} </script>

</head>
<body>
기사 제목 잘 나오는지 확인! ★★★{{ post.title }}★★★
<div class="comment_head">
    <h1>의견을 남겨주세요 👍🏻</h1>
</div>
<hr class="comment_hr">
    <div class="comment_wrap">
        <div class="control">
            <textarea id="comment" class="textarea is-hovered" placeholder="의견 남기기"></textarea>
            <div class="button-wrap">
                <button class="button is-success" onclick="post_comment()">의견 등록</button>
            </div>
        </div>
    </div>
<hr class="comment_hr_second">
</body>
</html>